.Box {
  width: 100%;

  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box .card-img-top {
  width: 100%;
  height: 100%;

  border: 15px solid #6f4e37;
  border-radius: 12px;

  box-shadow: 0 0 12px rgba(111, 78, 55, 0.6);
}

.Box .card-body {
  width: 100%;
  display: flex;
  justify-content: center;
}
