.Box {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Box .card-img-top {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.Box .card-body {
  width: 100%;
}
