.botones-wrapper {
  width: 100%;
  height: calc(100vh - 80px);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  padding: 2rem;
  box-sizing: border-box;
}
.col {
  display: grid;
  gap: 2rem;
}

.col-left {
  grid-template-rows: auto auto;
  align-content: space-between;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-right {
  grid-template-rows: auto auto;
  align-content: start;
}
