.skilltree-grid {
  display: grid !important;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0;

  width: 100%;
  height: 100%;

  position: relative;
}

.skilltree-grid .btn-rune {
  width: 90px;
  height: 90px;
}

.skilltree-grid .imagen {
  width: 90px;
  height: 90px;
}

.runa-mysql {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.runa-postgres {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}

.runa-sql {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

.runa-db {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
}

.runa-Nosql {
  grid-column: 5 / 6;
  grid-row: 6 / 7;
}
