.btn-rune {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.imagen {
  width: 150px;
  height: 150px;
  display: block;

  transition:
    transform 0.25s ease,
    filter 0.25s ease;
}

.btn-rune:hover .imagen {
  transform: scale(1.2);

  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 25px rgba(255, 183, 3, 0.7)) brightness(1.15);
}

.btn-rune:hover {
  transform: scale(1.2);

  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 25px rgba(255, 183, 3, 0.7)) brightness(1.15);
}
