.app-layout {
  background-image: url(/public/Inicio.png);
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-header {
  text-align: center;
}

.app-header h1 {
  font-size: 60px;
  font-weight: 700;
  color: #191010;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
}

.app-redes {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-size: 12px;
  color: #ffffff;
}
